<header>


    <nav class="navbar navbar-expand-lg " style="border-bottom: 1px solid #ccc">
  <div class="container-fluid ">
     <div class="container-fluid" >

    <a class="navbar-brand  display-1" href="/" >

      <img src="/static/img/TEC.jpg" alt="Logo" width="200" height="100" class="d-inline-block align-text-middle" >
    </a>


  </div>


    <a class="navbar-brand text-white" href="/">Home</a>
    <a class="navbar-brand text-white" href="/admin_dashboard">Dashboard</a>

<a href="/admin_support">
    <button type="button" class="btn btn-primary position-relative">
  Inbox
  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    99+
    <span class="visually-hidden">unread messages</span>
  </span>
</button>
  </a>



  </div>
</nav>

</header>
