<header>


    <nav class="navbar navbar-expand-lg " style="border-bottom: 1px solid #ccc">
  <div class="container-fluid ">
     <div class="container-fluid" >

    <a class="navbar-brand  display-1" href="/" >

      <img src="/static/img/TEC.jpg" alt="Logo" width="200" height="100" class="d-inline-block align-text-middle" >
    </a>


  </div>


    <a class="navbar-brand text-white" href="/">Home</a>
      <a class="navbar-brand text-white" href="/dashboard">Dashboard</a>
      <a class="navbar-brand text-white" href="/login">Login</a>


      <a class="navbar-brand text-white" href="/register">Register</a>



  </div>
</nav>

</header>
