<div class="">
  <footer class="row row-cols-5 p-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      </a>
      <h4 class="text-white">&copy;TEC Courier 2024</h4>
    </div>

    <div class="col">

    </div>

   <div class="col">
        <h5 style="color:#00f" class="mb-4">Signing</h5>
      <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-white">Home</a></li>
        <li class="nav-item mb-2"><a href="/login" class="nav-link p-0 text-white">Login</a></li>
        <li class="nav-item mb-2"><a href="/register" class="nav-link p-0 text-white">Register</a></li>
      </ul>
    </div>


    <div class="col">
        <h5 style="color:#00f" class="mb-4">Product Related</h5>
      <ul class="nav flex-column" >
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="/dashboard" class="nav-link p-0 text-white">Dashboard</a></li>
        <li class="nav-item mb-2"><a href="/pricing" class="nav-link p-0 text-white">Pricing</a></li>
        <li class="nav-item mb-2"><a href="/status" class="nav-link p-0 text-white">Status</a></li>
      </ul>
    </div>

    <div class="col">
      <h5 style="color:#00f" class="mb-4">Support</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="/reviews" class="nav-link p-0 text-white">Reviews</a></li>
          <li class="nav-item mb-2"><a href="/customer_support" class="nav-link p-0 text-white">Customer Care</a></li>

      </ul>
    </div>


  </footer>
</div>