{%extends 'base.html'%}


{% block headcontent %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
{% endblock %}


{% block content%}

{% include 'header.html' %}

<div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <h2 class="text-white text-center display-1 mb-5">Login form</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class = "alert alert-danger">
            <ul>
                {% for mess in messages %}
                <li>{{mess}}</li>
                {%endfor%}
            </ul>
        </div>
    {% endif %}
    {% endwith %}


  <form action="/login" method="POST">
      {{ form.hidden_tag() }}

    <div class="form-group col-4 mx-auto mb-4">

        <label for="email" class="text-white">{{ form.email.label.text }}</label>

      {{ form.email(id="email",class="form-control p-4",placeholder="Enter email",type="email")}}

        {% if form.email.errors %}
            <ul>
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}



    </div>

       <div class="form-group col-4 mx-auto mb-4">

        <label for="password" class="text-white">{{ form.password.label.text }}</label>
      {{ form.password(id="password",class="form-control p-4",placeholder="Enter password",type="password")}}

        {% if form.password.errors %}
            <ul>
                {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>

      <div class="form-group col-4 mx-auto ">
    {{ form.submit(class="btn btn-dark mt-45 form-group col-12 mx-auto p-4")}}
      </div>
<div class="form-group col-4 mx-auto ">
<p class="text-white mt-3">Don't have an account? <a target="_blank" class="text-decoration-none text-white" href="/register">Register</a></p>
</div>
  </form>



</div>


{%include 'footer.html'%}






{% endblock %}